.ref/schema/BusinessIntelligence.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://santedb.org/bi" elementFormDefault="qualified" targetNamespace="http://santedb.org/bi" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://microsoft.com/wsdl/types/" schemaLocation="BaseTypes.xsd" />
  <xs:import namespace="http://www.w3.org/1999/xhtml" schemaLocation="xhtml.xsd"/>
  <xs:complexType name="BiAggregationDefinition">
    <xs:complexContent mixed="true">
      <xs:extension base="tns:BiSqlDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="grouping" type="tns:ArrayOfBiSqlColumnReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="select" type="tns:ArrayOfBiAggregateSqlColumnReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiSqlDefinition" mixed="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="providers" type="tns:ArrayOfString2" />
      <xs:element minOccurs="0" maxOccurs="1" name="materialize" type="tns:BiMaterializeDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiDefinition" abstract="true">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="meta" type="tns:BiMetadata" />
      <xs:element minOccurs="0" maxOccurs="1" name="identifier" type="tns:BiIdentity" />
    </xs:sequence>
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="id" type="xs:string" />
    <xs:attribute name="label" type="xs:string" />
    <xs:attribute name="ref" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BiMetadata">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="tag" type="tns:BiMetadataTag" />
      <xs:element minOccurs="0" maxOccurs="1" name="authors" type="tns:ArrayOfString" />
      <xs:element minOccurs="0" maxOccurs="1" name="annotation" type="tns:BiAnnotation" />
      <xs:element minOccurs="0" maxOccurs="1" name="policies" type="tns:ArrayOfString1" />
      <xs:element minOccurs="1" maxOccurs="1" name="public" type="xs:boolean" />
    </xs:sequence>
    <xs:attribute name="version" type="xs:string" />
    <xs:attribute name="status" type="tns:BiDefinitionStatus" use="required" />
  </xs:complexType>
  <xs:complexType name="BiMetadataTag">
    <xs:attribute name="name" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiAnnotation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" xmlns:q1="http://www.w3.org/1999/xhtml" ref="q1:div" />
    </xs:sequence>
    <xs:attribute name="lang" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="ArrayOfString1">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="demand" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="BiDefinitionStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="new" />
      <xs:enumeration value="draft" />
      <xs:enumeration value="in-review" />
      <xs:enumeration value="active" />
      <xs:enumeration value="deprecated" />
      <xs:enumeration value="obsolete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BiIdentity">
    <xs:attribute name="system" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BiPackage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="sources" type="tns:ArrayOfBiDataSourceDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="formats" type="tns:ArrayOfBiRenderFormatDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfBiParameterDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="queries" type="tns:ArrayOfBiQueryDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="views" type="tns:ArrayOfBiViewDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="reports" type="tns:ArrayOfBiReportDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiDataSourceDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiDataSourceDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiDataSourceDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:attribute name="provider" type="xs:string" />
        <xs:attribute name="connectionString" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiRenderFormatDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiRenderFormatDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiRenderFormatDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:attribute name="extension" type="xs:string" />
        <xs:attribute name="contentType" type="xs:string" />
        <xs:attribute name="renderer" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiParameterDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiParameterDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiParameterDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:BiQueryDefinition" />
            <xs:element minOccurs="0" maxOccurs="1" name="values" type="tns:BiQueryParameterValueCollection" />
          </xs:choice>
        </xs:sequence>
        <xs:attribute name="type" type="tns:BiDataType" use="required" />
        <xs:attribute name="multiple" type="xs:boolean" use="required" />
        <xs:attribute name="min" type="xs:string" />
        <xs:attribute name="max" type="xs:string" />
        <xs:attribute name="default" type="xs:string" />
        <xs:attribute name="required" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiQueryDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dataSources" type="tns:ArrayOfBiDataSourceDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfBiParameterDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="definitions" type="tns:ArrayOfBiSqlDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiSqlDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiSqlDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiQueryParameterValueCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" type="tns:BisQueryParameterValue" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BisQueryParameterValue">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="value" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:simpleType name="BiDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="ref" />
      <xs:enumeration value="uuid" />
      <xs:enumeration value="string" />
      <xs:enumeration value="int" />
      <xs:enumeration value="bool" />
      <xs:enumeration value="date" />
      <xs:enumeration value="date-time" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfBiQueryDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiQueryDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiViewDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiViewDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiViewDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:BiQueryDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="aggregations" type="tns:ArrayOfBiAggregationDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="pivot" type="tns:BiViewPivotDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiAggregationDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiAggregationDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiViewPivotDefinition">
    <xs:attribute name="key" type="xs:string" />
    <xs:attribute name="columnDef" type="xs:string" />
    <xs:attribute name="value" type="xs:string" />
    <xs:attribute name="fn" type="tns:BiAggregateFunction" use="required" />
  </xs:complexType>
  <xs:simpleType name="BiAggregateFunction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="value" />
      <xs:enumeration value="min" />
      <xs:enumeration value="max" />
      <xs:enumeration value="first" />
      <xs:enumeration value="last" />
      <xs:enumeration value="count" />
      <xs:enumeration value="count-distinct" />
      <xs:enumeration value="avg" />
      <xs:enumeration value="sum" />
      <xs:enumeration value="median" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="ArrayOfBiReportDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiReportDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiReportDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dataSources" type="tns:ArrayOfChoice1" />
          <xs:element minOccurs="0" maxOccurs="1" name="views" type="tns:ArrayOfBiReportViewDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice1">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="query" nillable="true" type="tns:BiQueryDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="view" nillable="true" type="tns:BiViewDefinition" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiReportViewDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="add" nillable="true" type="tns:BiReportViewDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiReportViewDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" xmlns:q2="http://www.w3.org/1999/xhtml" ref="q2:div" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataMartDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="basedOn" type="tns:BiObjectReference" />
          <xs:element minOccurs="0" maxOccurs="1" name="produces" type="tns:BiDataSourceDefinition" />
          <xs:element minOccurs="0" maxOccurs="1" name="schema" type="tns:ArrayOfChoice4" />
          <xs:element minOccurs="0" maxOccurs="1" name="dataFlows" type="tns:ArrayOfBiDataFlowDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiObjectReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice4">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="table" nillable="true" type="tns:BiSchemaTableDefinition" />
      <xs:element minOccurs="1" maxOccurs="1" name="view" nillable="true" type="tns:BiSchemaViewDefinition" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BiSchemaTableDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiSchemaObjectDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="parent" type="tns:BiObjectReference" />
        </xs:sequence>
        <xs:attribute name="temporary" type="xs:boolean" use="optional" default="false" />
        <xs:attribute name="tableSpace" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiSchemaObjectDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="column" type="tns:BiSchemaColumnDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiSchemaColumnDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="otherTable" type="tns:BiObjectReference" />
        </xs:sequence>
        <xs:attribute name="type" type="tns:BiDataType" use="required" />
        <xs:attribute name="notNull" type="xs:boolean" use="optional" />
        <xs:attribute name="index" type="xs:boolean" use="optional" />
        <xs:attribute name="unique" type="xs:boolean" use="optional" />
        <xs:attribute name="key" type="xs:boolean" use="optional" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiSchemaViewDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiSchemaObjectDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="query" type="tns:BiSqlDefinition" />
        </xs:sequence>
        <xs:attribute name="materialized" type="xs:boolean" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiDataFlowDefinition">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="flow" nillable="true" type="tns:BiDataFlowDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiDataFlowDefinition">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfChoice2" />
          <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element minOccurs="0" maxOccurs="1" name="parallel" type="tns:BiParallelFlowStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="call" type="tns:BiDataFlowCallStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="reader" type="tns:BiDataFlowDataReaderStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="writer" type="tns:BiDataFlowDataWriterStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="connection" type="tns:BiDataFlowConnectionStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="map" type="tns:BiDataFlowMappingStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="pivot" type="tns:BiDataFlowPivotStep" />
            <xs:element minOccurs="0" maxOccurs="1" name="log" type="tns:BiDataFlowLogStep" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice2">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="int" nillable="true" type="tns:BiDataFlowParameterOfInt32" />
      <xs:element minOccurs="1" maxOccurs="1" name="ref" nillable="true" type="tns:BiDataFlowParameterOfBiObjectReference" />
      <xs:element minOccurs="1" maxOccurs="1" name="string" nillable="true" type="tns:BiDataFlowParameterOfString" />
      <xs:element minOccurs="1" maxOccurs="1" name="uuid" nillable="true" type="tns:BiDataFlowParameterOfGuid" />
      <xs:element minOccurs="1" maxOccurs="1" name="date-time" nillable="true" type="tns:BiDataFlowParameterOfDateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="bool" nillable="true" type="tns:BiDataFlowParameterOfBoolean" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterOfInt32">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterBase" abstract="true">
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallParameterOfBiObjectReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="tns:BiObjectReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallParameterOfDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallParameterOfGuid">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="value" xmlns:q3="http://microsoft.com/wsdl/types/" type="q3:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallParameterOfBoolean">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallParameterOfString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="value" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallParameterOfInt32">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase">
        <xs:sequence>
          <xs:element minOccurs="1" maxOccurs="1" name="value" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterOfBiObjectReference">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterOfDateTime">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterOfGuid">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterOfBoolean">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowParameterOfString">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowParameterBase" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiParallelFlowStep">
    <xs:sequence>
      <xs:choice minOccurs="0" maxOccurs="unbounded">
        <xs:element minOccurs="0" maxOccurs="1" name="call" type="tns:BiDataFlowCallStep" />
        <xs:element minOccurs="0" maxOccurs="1" name="reader" type="tns:BiDataFlowDataReaderStep" />
        <xs:element minOccurs="0" maxOccurs="1" name="writer" type="tns:BiDataFlowDataWriterStep" />
        <xs:element minOccurs="0" maxOccurs="1" name="connection" type="tns:BiDataFlowConnectionStep" />
        <xs:element minOccurs="0" maxOccurs="1" name="map" type="tns:BiDataFlowMappingStep" />
        <xs:element minOccurs="0" maxOccurs="1" name="pivot" type="tns:BiDataFlowPivotStep" />
        <xs:element minOccurs="0" maxOccurs="1" name="log" type="tns:BiDataFlowLogStep" />
      </xs:choice>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiDataFlowCallStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="parameters" type="tns:ArrayOfChoice3" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowStep" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDefinition" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowStreamStep" abstract="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="input" type="tns:BiObjectReference" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowLogStep" mixed="true">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStreamStep" />
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowPivotStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStreamStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="pivot" type="tns:BiViewPivotDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiColumnMappingTransformJoin">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStreamStep">
        <xs:attribute name="joinColumn" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowMappingStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStreamStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="map" type="tns:BiColumnMapping" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiColumnMapping">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="source" type="tns:BiColumnMappingSource" />
      <xs:element minOccurs="0" maxOccurs="1" name="target" type="tns:BiSchemaObjectReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiColumnMappingSource">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiSchemaObjectReference">
        <xs:sequence>
          <xs:choice minOccurs="1" maxOccurs="1">
            <xs:element minOccurs="0" maxOccurs="1" name="transform" type="xs:string" />
            <xs:element minOccurs="0" maxOccurs="1" name="lookup" type="tns:BiColumnMappingTransformJoin" />
          </xs:choice>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiSchemaObjectReference">
    <xs:attribute name="name" type="xs:string" />
  </xs:complexType>
  <xs:complexType name="BiDataFlowDataWriterStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStreamStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="target" type="tns:BiSchemaTableDefinition" />
        </xs:sequence>
        <xs:attribute name="truncate" type="xs:boolean" use="optional" />
        <xs:attribute name="mode" type="tns:DataWriterModeType" use="required" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:simpleType name="DataWriterModeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="insertUpdate" />
      <xs:enumeration value="insert" />
      <xs:enumeration value="update" />
      <xs:enumeration value="delete" />
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="BiDataFlowConnectionStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="dataSource" type="tns:BiDataSourceDefinition" />
        </xs:sequence>
        <xs:attribute name="transaction" type="xs:string" />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="BiDataFlowDataReaderStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowStep">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="1" name="input" type="tns:BiDataFlowConnectionStep" />
          <xs:element minOccurs="0" maxOccurs="1" name="sql" type="tns:ArrayOfBiSqlDefinition" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfChoice3">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element minOccurs="1" maxOccurs="1" name="int" nillable="true" type="tns:BiDataFlowCallParameterOfInt32" />
      <xs:element minOccurs="1" maxOccurs="1" name="ref" nillable="true" type="tns:BiDataFlowCallParameterOfBiObjectReference" />
      <xs:element minOccurs="1" maxOccurs="1" name="string" nillable="true" type="tns:BiDataFlowCallParameterOfString" />
      <xs:element minOccurs="1" maxOccurs="1" name="uuid" nillable="true" type="tns:BiDataFlowCallParameterOfGuid" />
      <xs:element minOccurs="1" maxOccurs="1" name="date-time" nillable="true" type="tns:BiDataFlowCallParameterOfDateTime" />
      <xs:element minOccurs="1" maxOccurs="1" name="bool" nillable="true" type="tns:BiDataFlowCallParameterOfBoolean" />
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="ArrayOfString2">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="invariant" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiMaterializeDefinition">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiSqlColumnReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="column" nillable="true" type="tns:BiSqlColumnReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BiSqlColumnReference">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="name" type="xs:string" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="BiAggregateSqlColumnReference">
    <xs:simpleContent>
      <xs:extension base="tns:BiSqlColumnReference">
        <xs:attribute name="fn" type="tns:BiAggregateFunction" use="required" />
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ArrayOfBiAggregateSqlColumnReference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="column" nillable="true" type="tns:BiAggregateSqlColumnReference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiDataFlowDefinition" nillable="true" type="tns:BiDataFlowDefinition" />
  <xs:complexType name="BiDataFlowJobStep">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BiDataFlowCallStep" />
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BiDataMartDefinition" nillable="true" type="tns:BiDataMartDefinition" />
  <xs:element name="BiDataSourceDefinition" nillable="true" type="tns:BiDataSourceDefinition" />
  <xs:complexType name="TestXML" />
  <xs:element name="BiDefinitionCollection" nillable="true" type="tns:BiDefinitionCollection" />
  <xs:complexType name="BiDefinitionCollection">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="item" type="tns:BiDefinition" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BiMaterializeDefinition" nillable="true" type="tns:BiMaterializeDefinition" />
  <xs:element name="BiPackage" nillable="true" type="tns:BiPackage" />
  <xs:element name="BiParameterDefinition" nillable="true" type="tns:BiParameterDefinition" />
  <xs:element name="BiQueryDefinition" nillable="true" type="tns:BiQueryDefinition" />
  <xs:element name="BiRenderFormatDefinition" nillable="true" type="tns:BiRenderFormatDefinition" />
  <xs:element name="BiReportDefinition" nillable="true" type="tns:BiReportDefinition" />
  <xs:element name="BiReportViewDefinition" nillable="true" type="tns:BiReportViewDefinition" />
  <xs:element name="BiSchemaTableDefinition" nillable="true" type="tns:BiSchemaTableDefinition" />
  <xs:element name="BiSchemaViewDefinition" nillable="true" type="tns:BiSchemaViewDefinition" />
  <xs:element name="BiSqlDefinition" nillable="true" type="tns:BiSqlDefinition" />
  <xs:element name="BiViewDefinition" nillable="true" type="tns:BiViewDefinition" />
</xs:schema>